.container {
    box-shadow: 0 0 3px 0px var(--box-shadow);
    position: relative;
    display: block;
    border: var(--border);
    border-radius: var(--radius-xs);
    padding: var(--spacing-md);
    height: fit-content;
    background-color: white;
}
