.container {
    width: auto;
    background-color: #1c1c1c;
    color: white;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authButtonsContainer {
    display: flex;
    gap: var(--spacing-sm);
}
